# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pyo
*.pyd
.Python

# Virtualenv
venv/
ENV/
.env
.env.*

# Django
*.log
db.sqlite3
media/
staticfiles/

# VSCode
.vscode/

# Docker
*.dbdata/

# macOS
.DS_Store

# Pytest
.cache/

# Coverage reports
htmlcov/
.coverage
.tox/

# Migrations
**/migrations/*
!**/migrations/__init__.py

# System
Thumbs.db

# Ruff
.ruff_cache/
